<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/header :: header('Roll the Dice')"></head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <h1>Pick a number</h1>
    <!--turn these into anchor tags-->

    <a th:href="@{/roll-dice/1}">
        <p>1</p>
    </a>
    <a th:href="@{/roll-dice/2}">
        <p>2</p>
    </a>
    <a th:href="@{/roll-dice/3}">
        <p>3</p>
    </a>
    <a th:href="@{/roll-dice/4}">
        <p>4</p>
    </a>
    <a th:href="@{/roll-dice/5}">
        <p>5</p>
    </a>
    <a th:href="@{/roll-dice/6}">
        <p>6</p>
    </a>
</div>

</body>
</html>